* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    width: 100%;
    height: 70px;
    background-color: #333;
    position: relative;
    margin-bottom: 5px;
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
}

.playlist {
    background-color: lightblue;
    height: calc(100vh - 160px);
    border-radius: 8px;
}

.main-view {
    background-color: lightgreen;
    height: calc(100vh - 160px);
    border-radius: 8px;

}

.current {
    background-color: lightcoral;
    height: calc(100vh - 160px);
    border-radius: 8px;

}

.spotify-logo {
    width: 34px;
    height: 34px;
}

.home-logo {
    background-color: #202020;
    border-radius: 50%;
    padding: 8px;
}

.mid {
    display: flex;
}

.search-icon {
    height: 34px;
    width: 34px;
}

.search-bar {
    background-color: #202020;
    margin: 0 5px;
    display: flex;
    width: 40vw;
    align-items: center;

    border-radius: 50px;
    padding: 0 0 0 10px;
}

.search-bar input {
    background-color: transparent;
    color: white;
    border: none;
    width: 80%;
    height: 90%;
    font-size: 18px;
    margin-left: 5px;
    border-right: 1px solid white;
}

.install-app {
    display: flex;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 20px;
    gap: 5px;
    color: rgb(145, 145, 145);
    align-items: center;
}

.install-app:hover {
    transform: scale(1.1);
    color: white;
}


.install-app svg {
    stroke: white;
    color: white;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-view {
    padding: 40px;
    background: linear-gradient(to bottom, #322961 36%, #262449 40%, #000000 100%);


}

.categories {
    display: grid;
    width: 45%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* background-color: grey; */
    gap: 10px;
}

.category {
    padding: 8px;
    border-radius: 35px;
    color: white;
    border: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.18);
}

.category:hover {
    background-color: rgba(255, 255, 255, 0.397);
    cursor: pointer;

}

.category:first-child {
    background-color: white;
    color: black;

}

.recommendations {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-top: 20px;
}

.recomm {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
    color: white;
    align-items: center;
    background-color: rgba(99, 98, 98, 0.71);
    overflow: hidden;
}

.recomm img {
    transform: scale(1.1);
}

.recomm:hover {
    background-color: rgba(150, 150, 150, 0.71);
    cursor: pointer
}
